{% extends 'base.html' %}

{% block content %}
<div class="row">

    <h1 style="margin:35px 0 60px 0;">Start a New Tournament - Step 2</h1>

    <div class="span12">
        <form id="new-tourney-form" action='' method='POST' class="form-horizontal">
            <div class="well">
                {{ render_hidden_fields() }}

                <div class="page-header" style="margin-top: -5px;">
                    <h3>Tell us more about your tournament</h3>
                </div>

                <div style="margin-left: 250px; margin-top: 10px;">
                    {{ render_form(form) }}
                </div>

            </div>
            <input type="submit" class="btn btn-primary pull-right" value="Next" style="width:120px;font-size:20px;" />
        </form>
    </div>

</div>

{% endblock %}