{% extends 'base.html' %}

{% block style %} <!-- TODO: Temp, maybe move to css file later -->
<style>
#new-tourney-form label{
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
}

#new-tourney-form input[type="radio"] {
    margin-right: 2px;
    margin-top: 1px;
}

#new-tourney-form td{
    vertical-align: middle;
    border-right: none;
    border-left: none;
    height: 90px;
}

#new-tourney-form .description {
    font-size: 14px;
}

</style>
{% endblock %}

{% block content %}
<div class="row">

    <h1 style="margin:35px 0 60px 0;">Start a New Tournament</h1>

    <div class="span12">
{#        <div class="well">#}
            <!-- Manually build form because of custom formating -->
            <!-- Do not use this as an example for regular form handling. -->
            <form id="new-tourney-form" action='' method='POST'>
                {{ render_hidden_fields() }}
                <p style="font-size: 20px;margin-bottom:20px;margin-left: 20px;">It's easy!  Start by choosing the tournament's security level:</p>
                {% if form %}
                    {% if form.errors %}
                        <div class="alert alert-error" style="margin-left:20px;">{{ form.errors.tournament_security.0 }}</div>
                    {% endif %}
                {% endif %}
                <div style="margin-left: 20px; margin-top: 10px;">

                    <table id="new-tourney-table" class="table table-striped table-bordered">
                        <tr>
                            <td style="width:20px;border-left: 1px solid #DDDDDD;"></td>
                            <td style="border-right: none;width:150px;">
                                <label for="id_tournament-security-0">
                                    <input id="id_tournament-security-0" type="radio" name="tournament_security" value="public" />
                                    Public
                                </label>
                            </td>
                            <td class="description">
                                A public tournament will be accessible to any user with the tournament link, no login required.  Any visitor can make changes to the tournament.
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20px;border-left: 1px solid #DDDDDD;"></td>
                            <td style="border-right: none;width:150px;">
                                <label for="id_tournament-security-1">
                                    <input id="id_tournament-security-1" type="radio" name="tournament_security" value="protected" />
                                    Protected
                                </label>
                            </td>
                            <td class="description">
                                A protected tournament will also be accessible to any user with the tournament link, no login required. However, only an authenticated user with appropriate permissions will be able to make changes to the tournament.
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20px;border-left: 1px solid #DDDDDD;"></td>
                            <td style="border-right: none;width:150px;">
                                <label for="id_tournament-security-2">
                                    <input id="id_tournament-security-2" type="radio" name="tournament_security" value="private" />
                                    Private
                                </label>
                            </td>
                            <td class="description">
                                A private tournament will require all users to login and have appropriate permission in order to view and make changes to the tournament.
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="submit" class="btn btn-primary pull-right" value="Next" style="width:120px;font-size:20px;" />
            </form>

{#        </div>#}
    </div>

</div>

<script>
$(document).ready(function(){
    $("#new-tourney-table").find("tr").click(function(){
        console.log("Working");
        $("input", this).attr('checked', 'checked');
    });
});
</script>
{% endblock %}