{% extends 'base.html' %}

{% block header %}Start a New Tournament - Step 2{% endblock %}

{% block content %}

<div class="row">
    <div class="span6 offset3">
        <form id="new-tourney-form" action='' method='POST' class="form-horizontal">
            <div class="well">
                {{ render_hidden_fields() }}

                <div class="page-header" style="margin-top: -5px;">
                    <h3>Tell us more about your tournament</h3>
                </div>

                <div style="margin: auto; width: 400px;">
                    {{ render_form(form) }}
                </div>

            </div>
            <input type="submit" class="btn btn-primary pull-right" value="Next" style="width:120px;font-size:20px;" />
        </form>
    </div>

</div>

{% endblock %}