{% extends 'base.html' %}

{% block style %}
    <style>
        #newt-step-3 label{
            width: 150px;
        }

        #newt-step-3 label.checkbox {
            width: 200px;
            margin-left: 40px;
        }
    </style>
{% endblock %}

{% block header %}Start a New Tournament - Step 2{% endblock %}

{% block content %}

<div class="row">
    <div class="span6 offset3">
        <form id="new-tourney-form" action='' method='POST' class="form-horizontal">
            <div class="well" style="min-height: 275px;">
                <!-- Manually build form because of custom formating -->
                {{ render_hidden_fields() }}
                <div class="page-header" style="margin-top: 10px;">
                    <h3>Setup Tournament</h3>
                </div>
                <div id="newt-step-3" style="float:left; width:560px;margin-left: 50px;">
                    {{ render_form(form) }}
                </div>

                <div class="page-header" style="margin-top: 10px;">
                    <h3>Setup Participants</h3>
                </div>
                <div id="dynamic-names" style="width:300px; margin: auto;">

                </div>

            </div>
            <input type="submit" class="btn btn-primary pull-right" value="Next" style="width:120px;font-size:20px;" />
        </form>
    </div>

</div>

<script>
    function toggle_seeds(){
        if($("#step3-show_seeds").is(':checked')){
            $(".participant-seed").show();
            $(".participant-seed > input").val('');
        }
        else{
            $(".participant-seed").hide();
        }

    }

    function gen_participant_fields(){
        var num = $("#step3-number_participants").val();
        if($("#step3-type").val() == 'RR'){
            $("#show-seeds-div").hide();
            $("#step3-show_seeds").removeAttr('checked');
        }
        else{
            $("#show-seeds-div").show();
{#            $("#step3-show_seeds").attr('checked', 'checked');#}
        }

        if(num < 2 || isNaN(num)){
            num = 2;
            $("#step3-number_participants").val(num);
        }
        $("#dynamic-names").html('');
        var html_string = '';
        for(var i=0; i<num; i++){
            var real_num = i + 1;
            var string = ' <div class="form-inline" style="margin-left:20px;margin-bottom:20px;">'
                    + '<label for="id_participant'+i+'name">Participant ' + real_num + ':<span class="required-indicator" title="This Field is Required">*&nbsp;</span><input type="text" name="participant'+i+'name" id="id_participant'+i+'name" style="width:160px" /></label>'
                    + '<label class="participant-seed" style="margin-left:10px;" for="id_participant'+i+'seed">Seed: <input type="number" min="1" max="'+num+'" name="participant'+i+'seed" id="id_participant'+i+'seed" style="width:40px" /></label>'
                    + '</div>';
            html_string = html_string + string;
        }
        $("#dynamic-names").html(html_string);
        toggle_seeds();
    }

    $(document).ready(function(){
        $("#step3-number_participants").blur(gen_participant_fields);
        $("#step3-type").chosen().change(gen_participant_fields);
        $("#step3-show_seeds").change(toggle_seeds);

        $("#step3-number_participants").val(4);
        $("#step3-number_participants").trigger('blur');
    });
</script>

{% endblock %}