<div class="well match-wrapper" id="' + d.match_key + '">' +
    '<form class="form-horizontal form-match">' +
        '<div class=control-group>' +
            '<label class="control-label nodeText name1">'+  team1  +'</label>' +
            '<div class="controls">' +
                '<input class="update-score update-score1 span1" type="text" value="'+  score1  +'">' +
                '<input type="hidden" id="participant1" value="'+  key1  +'">' +
            '</div>'+
        '</div>'+
        '<div class="control-group">'+
            '<label class="control-label nodeText name2">'+  team2  +'</label>'+
            '<div class="controls">'+
                '<input class="update-score update-score2 span1" type="text" value="'+  score2  +'">'+
                '<a class="btn btn-mini btn-block btn-inverse done" id="'+  d.match_key   +'-finish" style="margin-top: 10px;">Finish</a>'+
                '<input type="hidden" id="participant2" value="'+  key2  +'">'+
            '</div>'+
        '</div>'+
    '</form>' +
'</div>