{% extends 'base.html' %}


{% block title %}About{% endblock %}

{% block header %}About Us{% endblock %}

{% block content %}



    <div class="row" >
        <div class="span8 offset2">


                <div >
        
                    <h3 >Group11<span class="muted">WebTournaments</span></h3>
                    <p >WebTournaments is a real-time tournament creator that lets you view and use tournaments to your hearts content.  Simply hit create tournament and your off competeting in golf, basketball, or even extreme ironing.  The possbilities are endless. </p>

                </div>

                <div >
        
                    <h3 >Michael Davis <span class="muted pull-right">Authentication</span></h3>
                    <p >Works at WebFilings.  He has a beard. </p>

                </div>

                <div>
                    <h3>Max Peterson<span class="muted pull-right">Front End</span></h3>
                    <p >Works at WebFilings.  Doesn't have a beard.  Has a superior laptop to Michael. </p>

                </div>
                <div>
                    <h3>Robert Sheehy <span class="muted pull-right">Backend Tournament Logic</span></h3>
                    <p >Also works at WebFilings.  Has awesome hair. </p>

                </div>   
                <div>
                    <h3>Mark Gollnick <span class="muted pull-right">Tournement Viewing</span></h3>
                    <p >WebFilings...  Traditionaly late.</p>

                </div>   
                <div>
                    <h3>Taehyun Park <span class="muted pull-right">Backend & Json</span></h3>
                    <p >Is awesome.  Also a ninja.</p>

                </div> 
                <img  src="http://www.helpinghomelesscats.com/images/cat1.jpg" class="img-circle">             

        </div>
    </div>



{% endblock %}