<!DOCTYPE html>

<html>
    <head>
        <title>319 Project</title>

        <link rel="author" href="humans.txt" />

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/chosen.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/chosen.autoload.js"></script>

    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <ul class="nav">
                        <li><a href="/">Home</a></li>

                    </ul>

                    {% if not username %}

                        <a href="auth/login" class="btn btn-primary pull-right">Login</a>


{#                        <form class="form-inline" action="login" method="post" style="text-align: right; margin-bottom: 0px;">#}
{#                            <input type="text" class="input-small" id="username" name="username" placeholder="Name">#}
{#                            <input type="password" class="input-small" id="password" name="password" placeholder="Password">#}
{##}
{#                            <button type="submit" class="btn">Sign in</button>#}
{#                        </form>#}

                    {% endif %}

                    {% if username %}

                        <form class="form-inline" action="logout" method="post" style="text-align: right; margin-bottom: 0px;">
                            <label>Welcome, {{ username }}.</label>
                            <button type="submit" class="btn">Logout</button>

                        </form>

                    {% endif %}

                </div>
            </div>
        </div>


        <div class="container">
            <div id="content">

                {% block content %}{% endblock %}

            </div>
        </div>
    </body>
</html>