<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}319 Project{% endblock %}</title>

        <link rel="author" href="/humans.txt" />

        <link rel="icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" />

        {% if MEDIA_MERGED %}
        <link rel="stylesheet" type="text/css" href="/static/merged/merged.css" />

        <script type="text/javascript" src="/static/merged/merged.js"></script>
        {% else %}
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/chosen.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/chosen.autoload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.datatable.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
        {% endif %}

        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
    </head>

    <body>

        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">

                    <ul class="nav">
                        <li {% if active_nav == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
                        {% if user %}
                        <li {% if active_nav == 'my_tournaments' %}class="active"{% endif %}><a href="{{ url_for('event-list') }}">My Tournaments</a></li>
                        {% endif %}
                    </ul>

                    {% if not user %}
                        <div class="dropdown pull-right">
                            <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">Login</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="padding: 15px; padding-bottom: 0px;">
                                <form accept-charset="UTF-8" id="nav_login">
                                    <input style="margin-bottom: 15px;" type="text" placeholder="Email" id="dropdown_email" name="dropdown_email">
                                    <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="dropdown_password" name="dropdown_password">
                                    <input style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" id="remember_me" value="1">
                                    <label class="string optional" for="remember_me"> Remember me</label>
                                    <input class="btn btn-primary btn-block" type="button" id="sign-in" value="Sign In">
                                    <label style="text-align: center;padding-top:5px">or</label>
                                    <input class="btn btn-primary btn-block" type="button" value="Sign Up" onclick="window.location.replace('{{ url_for('register') }}')">
                                    <input class="btn btn-primary btn-block" type="button" value="Reset Password">
                                </form>
                            </ul>
                        </div>

                    {% else %}
                        <div class="pull-right">
                            Welcome, {{ user.username }}
                            <a href="/auth/logout" class="btn btn-primary">Logout</a>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>

        {% block jumbotron %}{% endblock %}

        <div id="main-content" class="container">

            <div id="content">

                {% block content %}{% endblock %}

            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p><a href="#">About Us</a></p>
                <p><a href="#">Contact Us</a></p>
                <p><a href="#">Terms of Service</a></p>
                <p><a href="#">Privacy Policy</a></p>
                <p></p>

            </div>
        </footer>

        <script>
            $(document).ready(function(){
                //This code places the footer at the bottom of the page, even if there is not enough
                //content on the page to push it down there.  It sets the min-height on the
                //main-content div.  This gets automatically recalculated whenever the window is resized.
                $(window).resize(function(){
                    var new_height = $(window).height() - 191 - $('.footer').height();
                    //The 'jumbotron' is not in main-content so we have to account for that separately.
                    if($(".home").length > 0){
                        new_height = new_height - $('.home').height() - 150; //150 is for top and bottom padding.
                    }
                    if(new_height < 300) new_height = 300;
                    $("#main-content").css('min-height', new_height);
                });
                //Sets the min-height on initial page load.
                $(window).trigger('resize');

                // Ajax request for login
                function login() {
                    $.post("/auth/login/", $("#nav_login").serialize(),
                            function(responseText)
                            {
                                var data = $.parseJSON(responseText);
                                if (data.loggedin) {
                                    window.location.reload();
                                }
                            });
                }

                $("#nav_login").click(function() {
                    login();
                });

                $("#nav_login").keypress(function(e) {
                    if (e && e.which == 13) {
                        login();
                    }
                })
            });
        </script>
    </body>
</html>