<!DOCTYPE html>

<html>
    <head>
        <title>319 Project</title>

        <link rel="author" href="humans.txt" />

        {% if MEDIA_MERGED %}
        <link rel="stylesheet" type="text/css" href="/static/merged/merged.css" />

        <script type="text/javascript" src="/static/merged/merged.js"></script>
        {% else %}
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/chosen.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />

        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/chosen.autoload.js"></script>
        {% endif %}

        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                    </ul>

                    {% if not username %}

                        <a href="/auth/login" class="btn btn-primary pull-right">Login</a>

                    {% endif %}

                    {% if username %}
                        <div class="pull-right">
                            Welcome, {{ username }}
                            <a href="/auth/logout" class="btn btn-primary">Logout</a>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>

        {% block jumbotron %}{% endblock %}

        <div id="main-content" class="container">

            <div id="content">

                {% block content %}{% endblock %}

            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
                <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                <ul class="footer-links">
                    <li><a href="http://blog.getbootstrap.com">Read the blog</a></li>
                    <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Submit issues</a></li>
                    <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
                </ul>
            </div>
        </footer>

        <script>
            $(document).ready(function(){
                //This code places the footer at the bottom of the page, even if there is not enough
                //content on the page to push it down there.  It sets the min-height on the
                //main-content div.  This gets automatically recalculated whenever the window is resized.
                $(window).resize(function(){
                    var new_height = $(window).height() - 191 - $('.footer').height();
                    //The 'jumbotron' is not in main-content so we have to account for that separately.
                    if($(".jumbotron").length > 0){
                        new_height = new_height - $('.jumbotron').height() - 150; //150 is for top and bottom padding.
                    }
                    if(new_height < 300) new_height = 300;
                    $("#main-content").css('min-height', new_height);
                });
                //Sets the min-height on initial page load.
                $(window).trigger('resize');
            });
        </script>
    </body>
</html>