{% extends 'base.html' %}


{% block title %}Contact{% endblock %}



{% block content %}



    <div class="row" >
        <div class="span8 offset2">
            <h1 >Here is our email.  Don't use it unless you don't need it.  I'm not joking.  It better be an emeragancy.  If I find out you emailed us for no reason I will back track you through internet and find you.</h1>
            <a href="mailto:webtournaments@gmail.com">webtournaments@gmail.com</a>           

        </div>
    </div>



{% endblock %}