{% extends 'base.html' %}


{% block title %}Contact{% endblock %}



{% block content %}



    <div class="row" >
        <div class="span8 offset2">
{#            <div class="hero-unit">#}
                <h1 style="font-size: 48px;">Here is our email.<br><br>
                    Don't use it unless you need it.<br><br>
                    I am not joking.  It had better be an emergency.<br><br>
                    If I find out you emailed us for no reason I will back track you through internet and find you.<br><br>
                </h1>
                <h1>
                    <a href="mailto:webtournaments@gmail.com">webtournaments@gmail.com</a>
                </h1>
{#            </div>#}
        </div>
    </div>



{% endblock %}