{% extends 'base.html' %}

{% block jumbotron %}

    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />



    <div class="home {%if login_mode=='dusty'%}dusty{%endif%} shadow">
        <div class="container">
            <div class="row">
                <div class="span12 blackback">
                    <h1>Web Tournaments</h1>
                    <h3>Easy, fast, and powerful tournament software. </h3>

                    <p style="text-align: center;"><a href="{{ url_for('new-tourney') }}" class="btn btn-primary btn-large">Start a Tournament</a></p>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="marketing">

        <div class="row-fluid" style="margin-top: 60px;">

            <div class="span4">
                <div style="font-size: 180px; text-align: center; line-height: 0.9;">
                    <i class="icon-flag"></i>
                </div>

                <h2>Easy to use</h2>
                <p>We take care of everything for you, so that you can worry about competing in the tournament, not about keeping track of everyone else. </p>
            </div>
            <div class="span4">
                <div style="font-size: 180px; text-align: center; line-height: 0.9;">
                    <i class="icon-group"></i>
                </div>

                <h2>Made for sharing</h2>
                <p>
                    Whether you want an open tournament that anyone can see and edit, or a private tournament for your select friends, we have what you need.
                </p>
                <p>
                    <a href="{{ url_for('demo') }}">Check out the demo!</a>
                </p>
            </div>
            <div class="span4">
                <div style="font-size: 180px; text-align: center; line-height: 0.9;">
                    <i class="icon-cogs"></i>
                </div>

                <h2>Easily Customizable</h2>
                <p>You can interact with Web Tournaments through our excellent front end, or use Web Tournaments for so much more with our developers API.</p>
            </div>
        </div>



    </div>

{% endblock %}