{% extends 'base.html' %}

{% block content %}

<div class="hero-unit">
    <h1>319 Project</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id auctor metus. Ut eu vestibulum diam. Nam volutpat ultrices scelerisque. Nunc bibendum augue sit amet erat porttitor vehicula. Vivamus iaculis augue sit amet dolor facilisis dignissim. Integer id est in dolor cursus interdum et a arcu. Maecenas sed est eu leo rutrum consequat. Proin sed massa at lorem laoreet ultrices.</p>
    <p>
    <h3>Chosen Testing...</h3>
    
    <select>
        <optgroup label="OLD TESTAMENT">
            <option>Genesis</option>
            <option>Exodus</option>
            <option>Leviticus</option>
            <option>Numbers</option>
            <option>Deuteronomy</option>
            <option>Joshua</option>
            <option>Judges</option>
            <option>Ruth</option>
            <option>1 Samuel</option>
            <option>2 Samuel</option>
            <option>1 Kings</option>
            <option>2 Kings</option>
            <option>1 Chronicles</option>
            <option>2 Chronicles</option>
            <option>Ezra</option>
            <option>Nehemiah</option>
            <option>Esther</option>
            <option>Job</option>
            <option>Psalms</option>
            <option>Proverbs</option>
            <option>Ecclesiastes</option>
            <option>Song of Solomon</option>
            <option>Isaiah</option>
            <option>Jeremiah</option>
            <option>Lamentations</option>
            <option>Ezekiel</option>
            <option>Daniel</option>
            <option>Hosea</option>
            <option>Joel</option>
            <option>Amos</option>
            <option>Obadiah</option>
            <option>Jonah</option>
            <option>Micah</option>
            <option>Nahum</option>
            <option>Habakkuk</option>
            <option>Zephaniah</option>
            <option>Haggai</option>
            <option>Zechariah</option>
            <option>Malachi</option>
        </optgroup>
        <optgroup label="NEW TESTAMENT">
            <option>Matthew</option>
            <option>Mark</option>
            <option>Luke</option>
            <option>John</option>
            <option>Acts</option>
            <option>Romans</option>
            <option>1 Corinthians</option>
            <option>2 Corinthians</option>
            <option>Galatians</option>
            <option>Ephesians</option>
            <option>Philippians</option>
            <option>Colossians</option>
            <option>1 Thessalonians</option>
            <option>2 Thessalonians</option>
            <option>1 Timothy</option>
            <option>2 Timothy</option>
            <option>Titus</option>
            <option>Philemon</option>
            <option>Hebrews</option>
            <option>James</option>
            <option>1 Peter</option>
            <option>2 Peter</option>
            <option>1 John</option>
            <option>2 John</option>
            <option>3 John</option>
            <option>Jude</option>
            <option>Revelation</option>
        </optgroup>
    </select>
    
    <select class="searchable deselectable">
        <option></option>
        <option>Bulbasaur</option>
        <option>Ivysaur</option>
        <option>Venusaur</option>
        <option>Charmander</option>
        <option>Charmeleon</option>
        <option>Charizard</option>
        <option>Squirtle</option>
        <option>Wartortle</option>
        <option>Blastoise</option>
        <option>Caterpie</option>
        <option>Metapod</option>
        <option>Butterfree</option>
        <option>Weedle</option>
        <option>Kakuna</option>
        <option>Beedrill</option>
        <option>Pidgey</option>
        <option>Pidgeotto</option>
        <option>Pidgeot</option>
        <option>Rattata</option>
        <option>Raticate</option>
        <option>Spearow</option>
        <option>Fearow</option>
        <option>Ekans</option>
        <option>Arbok</option>
        <option>Pikachu</option>
        <option>Raichu</option>
        <option>Sandshrew</option>
        <option>Sandslash</option>
        <option>Nidoran♀</option>
        <option>Nidorina</option>
        <option>Nidoqueen</option>
        <option>Nidoran♂</option>
        <option>Nidorino</option>
        <option>Nidoking</option>
        <option>Clefairy</option>
        <option>Clefable</option>
        <option>Vulpix</option>
        <option>Ninetales</option>
        <option>Jigglypuff</option>
        <option>Wigglytuff</option>
        <option>Zubat</option>
        <option>Golbat</option>
        <option>Oddish</option>
        <option>Gloom</option>
        <option>Vileplume</option>
        <option>Paras</option>
        <option>Parasect</option>
        <option>Venonat</option>
        <option>Venomoth</option>
        <option>Diglett</option>
        <option>Dugtrio</option>
        <option>Meowth</option>
        <option>Persian</option>
        <option>Psyduck</option>
        <option>Golduck</option>
        <option>Mankey</option>
        <option>Primeape</option>
        <option>Growlithe</option>
        <option>Arcanine</option>
        <option>Poliwag</option>
        <option>Poliwhirl</option>
        <option>Poliwrath</option>
        <option>Abra</option>
        <option>Kadabra</option>
        <option>Alakazam</option>
        <option>Machop</option>
        <option>Machoke</option>
        <option>Machamp</option>
        <option>Bellsprout</option>
        <option>Weepinbell</option>
        <option>Victreebel</option>
        <option>Tentacool</option>
        <option>Tentacruel</option>
        <option>Geodude</option>
        <option>Graveler</option>
        <option>Golem</option>
        <option>Ponyta</option>
        <option>Rapidash</option>
        <option>Slowpoke</option>
        <option>Slowbro</option>
        <option>Magnemite</option>
        <option>Magneton</option>
        <option>Farfetch'd</option>
        <option>Doduo</option>
        <option>Dodrio</option>
        <option>Seel</option>
        <option>Dewgong</option>
        <option>Grimer</option>
        <option>Muk</option>
        <option>Shellder</option>
        <option>Cloyster</option>
        <option>Gastly</option>
        <option>Haunter</option>
        <option>Gengar</option>
        <option>Onix</option>
        <option>Drowzee</option>
        <option>Hypno</option>
        <option>Krabby</option>
        <option>Kingler</option>
        <option>Voltorb</option>
        <option>Electrode</option>
        <option>Exeggcute</option>
        <option>Exeggutor</option>
        <option>Cubone</option>
        <option>Marowak</option>
        <option>Hitmonlee</option>
        <option>Hitmonchan</option>
        <option>Lickitung</option>
        <option>Koffing</option>
        <option>Weezing</option>
        <option>Rhyhorn</option>
        <option>Rhydon</option>
        <option>Chansey</option>
        <option>Tangela</option>
        <option>Kangaskhan</option>
        <option>Horsea</option>
        <option>Seadra</option>
        <option>Goldeen</option>
        <option>Seaking</option>
        <option>Staryu</option>
        <option>Starmie</option>
        <option>Mr. Mime</option>
        <option>Scyther</option>
        <option>Jynx</option>
        <option>Electabuzz</option>
        <option>Magmar</option>
        <option>Pinsir</option>
        <option>Tauros</option>
        <option>Magikarp</option>
        <option>Gyarados</option>
        <option>Lapras</option>
        <option>Ditto</option>
        <option>Eevee</option>
        <option>Vaporeon</option>
        <option>Jolteon</option>
        <option>Flareon</option>
        <option>Porygon</option>
        <option>Omanyte</option>
        <option>Omastar</option>
        <option>Kabuto</option>
        <option>Kabutops</option>
        <option>Aerodactyl</option>
        <option>Snorlax</option>
        <option>Articuno</option>
        <option>Zapdos</option>
        <option>Moltres</option>
        <option>Dratini</option>
        <option>Dragonair</option>
        <option>Dragonite</option>
        <option>Mewtwo</option>
        <option>Mew</option>
    </select>
    
    <select multiple="true">
        <option>Bacon - $1</option>
        <option>Eggs - $1</option>
        <option>Toast - $1</option>
        <option>Orange Juice - $2</option>
    </select>
    </p>
</div>
<br>
<div class="row">
    <div class="span4">
        <h2>Test</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id auctor metus. Ut eu vestibulum diam. Nam volutpat ultrices scelerisque. Nunc bibendum augue sit amet erat porttitor vehicula. Vivamus iaculis augue sit amet dolor facilisis dignissim. Integer id est in dolor cursus interdum et a arcu. Maecenas sed est eu leo rutrum consequat. Proin sed massa at lorem laoreet ultrices.
    </div>

    <div class="span4">
        <h2>Test</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id auctor metus. Ut eu vestibulum diam. Nam volutpat ultrices scelerisque. Nunc bibendum augue sit amet erat porttitor vehicula. Vivamus iaculis augue sit amet dolor facilisis dignissim. Integer id est in dolor cursus interdum et a arcu. Maecenas sed est eu leo rutrum consequat. Proin sed massa at lorem laoreet ultrices.
    </div>

    <div class="span4">
        <h2>Test</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id auctor metus. Ut eu vestibulum diam. Nam volutpat ultrices scelerisque. Nunc bibendum augue sit amet erat porttitor vehicula. Vivamus iaculis augue sit amet dolor facilisis dignissim. Integer id est in dolor cursus interdum et a arcu. Maecenas sed est eu leo rutrum consequat. Proin sed massa at lorem laoreet ultrices.
    </div>
</div>

{% endblock %}