{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:80px;">
        <div class="span6 offset3">
            <div class="well">
                {% if error %}
                    <div class="alert alert-error">
                        Whoops.  Something went wrong.
                    </div>
                {% endif %}
                <form class="form-horizontal" method="post" action="">
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            {{ form.email|safe }}
                        </div>
                    </div>
                    <div class="control-group" id="username_control">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            {{ form.username|safe }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            {{ form.password|safe }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Confirm</label>
                        <div class="controls">
                            {{ form.password_confirm|safe }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

    <script>
    $(function() {



        $("#username").blur(function () {
            var page = "/auth/check_username?"
            var output;
            $.getJSON(page,
                {
                  username: $("#username").val()
                },
                function(data) {

                    if (data.valid) {
                        $("#username_control").removeClass("warning").addClass("success")
                    } else {
                        $("#username_control").removeClass("success").addClass("warning")
                    }
                })



        })
    })


    </script>

{% endblock %}