{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="span6 offset3">
            <div class="well">
                <form class="form-horizontal" method="post" action="">
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            {{ form.email|safe }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            {{ form.username|safe }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            {{ form.password|safe }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Confirm</label>
                        <div class="controls">
                            {{ form.password_confirm|safe }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

{% endblock %}