{% extends 'base.html' %}

{% block title %}Web Tournaments - My Tournaments{% endblock %}

{% block content %}
<div class="row">
    <div class="span12" style="margin-top: 50px;">
        <h1 style="display: inline;margin:35px 0 60px 0;">My Tournaments</h1>
        <a id="create-tournament-button" href="{{ url_for('new-tourney') }}" class="btn btn-primary pull-right" style="display: inline;margin-top:5px;" role="button" data-toggle="modal">Create New Tournament</a>
        <table class="table table-bordered table-striped table-hover" id="tournament-table" style="margin-top:5px;">
            <thead class="header">
            <tr>
                <th>Name</th>
                <th style="width:118px;">Type</th>
                <th style="width:125px;">Date & Time</th>
                <th>Location</th>
                <th>Owner</th>
                <th style="width:125px;">Created</th>
                <th style="width:113px;">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for tournament in user_tournaments %}
                <tr onClick="javascript:document.location='#'">
                    <td>{{ tournament.name }}</td>
                    <td>{{ tournament.get_type_verbose() }}</td>
                    <td>{{ tournament.date.strftime("%m/%d/%y %I:%M %p") }}</td>
                    <td>{{ tournament.location }}</td>
                    <td>{{ tournament.owner.username }}</td>
                    <td>{{ tournament.created.strftime("%m/%d/%y %I:%M %p") }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="/tournament/view/?id={{tournament.key().id()}}" class="btn" style="display:inline;margin-top:5px;" role="button" data-toggle="modal">View</a>
                            <a href="/tournament/edit/?id={{tournament.key().id()}}" class="btn" style="display:inline;margin-top:5px;" role="button" data-toggle="modal">Edit</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" style="text-align: center;">You don't have access to any tournaments yet!  Click the blue button to get started.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


</div>
{% endblock %}