{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:40px;">
        <div class="span6 offset3">
            <div class="well">
                <form class="form-horizontal" method="POST" action="" id="login_form">
                    {{ render_form(form) }}
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-primary" value="Login"> or <a href="/auth/register"> register an account.</a>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

{#    <script>#}
{#        // Ajax request for login#}
{#        function login(e) {#}
{#            e.preventDefault();#}
{#            $.post("/auth/login/", $("#login_form").serialize(),#}
{#                    function(responseText)#}
{#                    {#}
{#                        var data = $.parseJSON(responseText);#}
{#                        if (data.loggedin) {#}
{#                            window.location.replace("/tournament/list");#}
{#                        }#}
{#                    });#}
{#        }#}
{##}
{#        $("#login_form").on('submit',login);#}
{##}
{#    </script>#}

{% endblock %}