{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:80px;">
        <div class="span6 offset3">
            <div class="well">

                <div class="alert alert-error" id="error_message" style="display: none;">
                    Whoops!
                </div>

                <form class="form-horizontal" method="post" action="">
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            {{ form.email|safe }}
                        </div>
                    </div>
                    <div class="control-group" id="username_control">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            {{ form.username|safe }}
                            <div class="help-inline" id="username_text"></div>
                        </div>
                    </div>
                    <div class="control-group" id="password_control">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            {{ form.password|safe }}
                        </div>
                    </div>
                    <div class="control-group" id="password_confirm_control">
                        <label class="control-label">Confirm</label>
                        <div class="controls">
                            {{ form.password_confirm|safe }}
                            <div class="help-inline" id="password_confirm_text"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="button" class="btn btn-primary" id="submit">Register</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

    <script>

    $(document).ready(function(){

        $("#username").blur(function () {
            $("#username_control").removeClass("error").removeClass("success");
            $("#username_text").text("");
            if ($("#username").val().length > 0) {
                var page = "/auth/check_username?";
                var output;
                $.getJSON(page,
                    {
                      username: $("#username").val()
                    },
                    function(data) {

                        if (data.valid) {
                            $("#username_control").removeClass("error").addClass("success");
                            $("#username_text").text("Available");

                        } else {
                            $("#username_control").removeClass("success").addClass("error");
                            $("#username_text").text("Unavailable");
                        }
                    })
            }
        })

        $("#password_confirm").blur(function() {
            if ($("#password").val() == $("#password_confirm").val()) {
                $("#password_confirm_control").removeClass("error").addClass("success");
                $("#password_confirm_text").text("Passwords match!");
            } else {
                $("#password_confirm_control").removeClass("success").addClass("error");
                $("#password_confirm_text").text("Passwords don't match!");
            }
        });

        $("#submit").click(function() {
            $.post("/auth/register/", {email: $("#email").val(), username: $("#username").val(), password: $("#password").val(), password_confirm: $("#password_confirm").val()},
            function(responseText)
            {
                var data = $.parseJSON(responseText);

                if (data.registered) {
                    window.location.replace("/auth/welcome/");
                } else {
                    if (data.error_message) {
                        $("#error_message").html(data.error_message);
                        $("#error_message").show();
                    }
                }

            });
        });
    });


    </script>

{% endblock %}