{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:40px;">
        <div class="span6 offset3">
            <div class="well">

                <h2 style="text-align:center;">Reset your password</h2><br>
                <form class="form-horizontal" method="post" action="" id="login_form">
                    {{ render_form(form) }}
                    <div class="control-group">
                        <div class="controls">
                            <div style="margin-top: 20px;">
                                <input type="hidden" id="token" name="token" value="{{ token }}">
                                <input type="submit" class="btn btn-primary" value="Send Reset Email">
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

{% endblock %}