{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:40px;">
        <div class="span4 offset4">
            <div class="well">
                <div class="alert alert-success">
                    Congratulations!
                </div>
                <p style="text-align: center; font-size: 24px;">Thank you for registering</p>
                <br>
                <p style="text-align: center;"><a href="{{ url_for('new-tourney') }}" class="btn btn-primary btn-large">Start a Tournament</a></p>


            </div>
        </div>

    </div>


{% endblock %}